.project
.clasppath
.sonar/
.settings/
/out/
*.class
build/dist/
build/stand-alone/org/
build/stand-alone/data/
build/stand-alone/javax/
build/stand-alone/jni/
build/stand-alone/META-INF/
build/stand-alone/*.jar
build/stand-alone/*.properties
build/stand-alone/about*
build/classes/jni/
build/classes/data/
build/classes/obj/
build/classes/xwclasses.mf
/target/
