.project
.clasppath
.sonar/
.settings/
/out/
*.class
build/
/target/
.DS_Store
/.gradle/
/.idea/
*.iml
/src/main/java/xtremweb/common/CommonVersion.java
/src/main/javascript/client/node_modules/
*.pem
cacerts
trustedcerts.txt
