[submodule "PoCo"]
	path = PoCo
	url = https://github.com/iExecBlockchainComputing/PoCo.git
[submodule "rlc-faucet-contract"]
	path = rlc-faucet-contract
	url = https://github.com/iExecBlockchainComputing/rlc-faucet-contract.git
