BODY
{
	font-family : Times New Roman, Times;
	font-size : 16;
	background-color : #050064;
	color : #ffffff;
}

TD
{
	font-size : 18;
}

TD.MENU
{
	font-size : 14;
	width : 140;
}

.CONTENT1
{
	font-size : 18;
	font-family : Times New Roman, Times;
	background-color : #2615EA;
        margin-left:3.0cm;
	color : white; //#222222;
	vertical-align : center;
}

.CONTENT2
{
	font-size : 18;
	font-family : Times New Roman, Times;
	background-color : #d6911;
	color : #22222;
        margin-left:3.0cm;
	vertical-align : center;
}

.COMPLETED
{
	font-size : 18;
	font-family : Times New Roman, Times;
	background-color : green;
	color : #22222;
        margin-left:3.0cm;
	vertical-align : center;
}
.ERROR
{
	font-size : 18;
	font-family : Times New Roman, Times;
	background-color : red;
	color : #22222;
        margin-left:3.0cm;
	vertical-align : center;
}
.WAITING
{
	font-size : 18;
	font-family : Times New Roman, Times;
	background-color : lightgrey;
	color : black;
        margin-left:3.0cm;
	vertical-align : center;
}

.TITRE
{
	font-size : 30;
	font-family : Times New Roman, Times;
	color : #ce00df;
	font-style: italic;
	text-decoration:underline;
	text-underline:single;
        margin-left:0.5cm;
}

.SOUSTITRE
{
	font-size : 24;
	font-family : Times New Roman, Times;
	color : #8f8af0;
	font-style: italic;
        margin-left:1.0cm;
}

P.SECTIONTITRE
{
	font-size : 16;
	font-family : Arial, Helvetica, sans-serif;
	color : #8f8af0;
	font-weight: bold;
}

P.SUBSECTIONTITRE
{
	font-family : Arial, Helvetica, sans-serif;
	margin-left : 5pt;
}

a:link
{
	color:#d96fd3;
	text-decoration:underline;
	text-underline:single;
}

a:hover
{
	color:#65f34b;
	text-decoration:underline;
	text-underline:single;
}

a:visited
{
	color:#eed1f5;
	text-decoration:underline;
	text-underline:single;
}
