SCHEDULER_DOCKER_IMAGE_VERSION=@DOCKER_IMAGE_VERSION@
WORKER_DOCKER_IMAGE_VERSION=@DOCKER_IMAGE_VERSION@

DBHOST=db
ADMINLOGIN=@XWADMINLOGIN@
ADMINPASSWORD=@XWADMINPASSWORD@
ADMINUID=@ADMINUID@
WORKERLOGIN=@XWWORKERLOGIN@
WORKERPASSWORD=@XWWORKERPASSWORD@
WORKERUID=@WORKERUID@
LOGGERLEVEL=FINEST
JWTETHISSUER=
JWTETHSECRET=
WALLCLOCKTIMEVALUE=
DELEGATEDREGISTRATION=true
MAXFILESIZE=500000000

WORKER_SANDBOX_ENABLED=true

MYSQL_ADMIN_USER=@DBADMINLOGIN@
MYSQL_ADMIN_PASSWORD=@DBADMINPASSWORD@
MYSQL_DB_NAME=@DBNAME@
MYSQL_USER_LOGIN=@DBUSERLOGIN@
MYSQL_USER_PASSWORD=@DBUSERPASSWORD@

RESULTS_FOLDER=/tmp/worker1
CERTIFICATE_AND_PRIVATE_KEYS_REPO=/tmp/keystore
SCHEDULER_PERSISTING_FOLDER=/tmp/persistscheduler

RLCCONTRACT=0x75667eddc978d24fe4adf4851ede5dbf8e359a42
IEXECHUBCONTRACT=0x9ac7a5d0ce42eba980be9dd0683a5884f17d7737

SCHEDULERWALLETPATH=~/iexecdev/xtremweb-hep/build/dist/xtremweb-12.2.11-SNAPSHOT/wallet/UTC--2018-02-14T08-32-12.500000000Z--8bd535d49b095ef648cd85ea827867d358872809.json
SCHEDULERWALLETPASSWORD=whatever

WORKERWALLETPATH=~/iexecdev/xtremweb-hep/build/dist/xtremweb-12.2.11-SNAPSHOT/wallet/UTC--2018-02-14T11-15-48.411000000Z--70a1bebd73aef241154ea353d6c8c52d420d4f5b.json
WORKERWALLETPASSWORD=whatever