#include <windows.h>


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.

#ifdef XWSERVER

#define ICONOK
IDI_XWD          ICON    DISCARDABLE     "xw.ico"

#endif

#ifdef XWWORKER

#define ICONOK
IDI_XWD          ICON    DISCARDABLE     "xw.ico"

#endif

#ifdef XWCLIENT

#define ICONOK
IDI_XWD          ICON    DISCARDABLE     "xw.ico"

#endif


#ifndef ICONOK

#define ICONOK
IDI_XWD		ICON	DISCARDABLE	"xwwrk.ico"

#endif


