#!/bin/bash

docker run -d --restart always  --env SCHEDULER_IP=@SCHEDULER_IP@ \
                                --env SCHEDULER_DOMAIN=@SCHEDULER_DOMAIN@ \
                                --env LOGIN=@XWVWORKERLOGIN@ \
                                --env PASSWORD=@XWVWORKERPASSWORD@ \
                                -v /tmp:/tmp \
                                -v /var/run/docker.sock:/var/run/docker.sock \
                                iexechub/worker:@DOCKER_IMAGE_VERSION@
